@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(240, 78%, 98%);
    padding: 2.7em 0px;
}   

.main_container{
    text-align: center;
}
.main_container .heading{
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    color: hsl(233, 13%, 49%) ;
}

.categories{
     /* border: 1px solid black; */
        font-family: Montserrat;
       text-align: center;
}

.categories .sub_cate{
    background-color: white;
    margin:2em auto;
    width: 85%;
   padding: 3em;
   padding-top: 2.1em;
    border-radius: 0.74em;
    padding-bottom: 2em;
    max-width: 365px;
    transition: transform 400ms linear;  
}
}


.sub_cate .plan{
    /* border: 1px solid hotpink; */
    font-weight: 200;
    font-size: 1.6em;
    color:  hsl(233, 13%, 49%);
    letter-spacing: 1px;
}

.sub_cate .plan_amt{
    padding:0.4em 0rem;
    letter-spacing: 1px;
    color: hsl(225, 2%, 38%);
    font-size:2.4em;
}

.sub_cate .service_details li{
    list-style: none;
    border-bottom: 1px solid hsl(234, 14%, 74%);
}

.service_details .top_border{
        border-top:1px solid hsl(234, 14%, 74%) ;
}

.service_details .service{
    color: hsl(233, 13%, 49%);
    font-size: 0.95em;
    padding: 1em;
}

.sub_cate .btn{
    margin-top: 2.4em;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    width: 100%;
    padding: 0.7em;
    background: linear-gradient(to right,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    border-width: 0px;
    border-radius: 0.3em;
}


.btn:hover{
    border: 1px solid hsl(233, 13%, 49%);
    color:hsl(233, 13%, 49%);
   background: hsl(240, 78%, 98%);
}


.btn:hover{
    border: 1px solid hsl(233, 13%, 49%);
    color:hsl(233, 13%, 49%);
   background: hsl(240, 78%, 98%);
}

.middle_sub_cate{
    background: linear-gradient(to right, hsl(236, 72%, 79%) ,hsl(237, 63%, 64%));
    color: white;
    transition: transform 400ms linear;  
}

.sub_cate:hover{
    transform: scale(1.02);
}
  

.middle_sub_cate .middle_btn{
    border: 1px solid hsl(233, 13%, 49%);
    color:hsl(233, 13%, 49%);
   background: hsl(240, 78%, 98%);
}

.middle_sub_cate .middle_btn:hover{
    
    background-color: hsl(237, 63%, 64%);
    color: white;
    border: 1px solid white;
}


.middle_sub_cate .plan,.middle_sub_cate .plan_amt,.middle_sub_cate .service_details li,.middle_sub_cate .service_details .top_border,.middle_sub_cate .service_details .service{
        color:  white;
}

.middle_sub_cate .plan{
    /* border: 1px solid black; */
    font-size: 1.6em;
}


@media screen and (min-width:655px) and (max-width:1030px){
 /* body{
     background-color: maroon;
 } */
 .categories{
     /* border: 1px solid hotpink; */
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.categories .sub_cate{
    width: 290px;
}
.categories .sub_cate .plan_amt{
    font-size: 2.4em;
    /* border: 1px solid magenta; */
    width: 99%;
    text-align: center;
}
}

@media screen and (min-width:1030px){
    /* body{
        background-color: cyan;
    } */
    .categories{
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    .categories .sub_cate{
        width: 27%;
        max-width: 325px;
    }
    .categories .sub_cate .plan_amt{
        font-size: 2.5em;
        /* border: 1px solid magenta; */
        width: 99%;
        text-align: center;
    }
}
